Repository desktop/desktop, pull requests merged in 2024-11, with the labels that each got.

#19607 Add comment to feature requests
  .github/workflows/feature-request-comment.yml
Labels: feature-request

#19608 Create stale-issues.yml
  .github/workflows/stale-issues.yml
Labels: stale, never-stale

#19260 Fix swipe image diff with transparency
  app/src/ui/diff/image-diffs/swipe.tsx
Labels: external

#19615 Fix for indents of clear button in text box
  app/styles/ui/_text-box.scss
Labels: external
